<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - vineale</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            flex-direction: column;
        }
        .links {
            text-align: center;
        }
        a {
            color: #fff;
            text-decoration: none;
            margin-top: 20px;
        }
        a:hover {
            color: #888;
        }
        a:before {
            content: "["
        }
        a:after {
            content: "]";
        }
    </style>
</head>
<body>
    <div>
    <pre>
       _                  _
      (_)                | |
__   ___ _ __   ___  __ _| | ___
\ \ / / | '_ \ / _ \/ _` | |/ _ \
 \ V /| | | | |  __/ (_| | |  __/
  \_/ |_|_| |_|\___|\__,_|_|\___|

    </pre>
        </div>
    <div class="links">
<a href="https://gitlab.com/sr2c/vineale">Source Code</a><br>
        <small>&copy; 2022-2023 SR2 Communications Limited</small>
        </div>
</body>
</html>