<!doctype html>
<html lang=en>
<head>
    <meta name=generator content="Hugo 0.104.3">
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=https://www.sr2.uk/favicon.ico type=image/x-icon>
    <link rel=stylesheet href=https://www.sr2.uk/scss/libs.css>
    <link rel=stylesheet
          href=https://www.sr2.uk/css/libs.min.8c3148c0fa9b4d9683745a16cc957a53ba075eb1f6343eacc19426aa848eba90.css>
    <link rel=stylesheet
          href=https://www.sr2.uk/scss/theme.a676bf3e08944527c9447667b76c8e2d6f1c145fa15d6dcd5aeababe81d87ec2.css>
    <title>SR2 Communications Limited</title></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class=container><a class=navbar-brand href="https://www.sr2.uk/"><img src=https://www.sr2.uk/img/logo-side.png
                                                           class=navbar-brand-img alt="SR2 Communications Limited"></a>
</nav>
<div class=under-nav></div>

<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col-12 col-md">
            <h1 class="display-4"><span class="home-heading">HTTP Test</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="my-2 my-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Headers</h3>
            <table>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                </tr>
                {% for header in request.headers.items() %}
                    <tr>
                        <td>{{ header[0] }}</td>
                        <td>{{ header[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="my-2 my-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Body</h3>
            <pre>{{ request.data.decode('utf-8', 'ignore') }}</pre>
        </div>
    </div>
</div>


<script src=https://www.sr2.uk/js/theme.js></script>
</body>
</html>
